@class-prefix-overflow: ~'adm-overflow';

.@{class-prefix-overflow} {
  --background: #fff;
  --btn-background: #fff;
  --more-background: var(--btn-background);
  --less-background: var(--btn-background);

  overflow: hidden;
  color: currentColor;
  line-height: 1.4;

  // 纯 css 实现
  &-css {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all;

    // 默认不省略，配合 rows 控制以下属性
    // -webkit-line-clamp: 1;
  }

  // &-float-content *,
  // &-viewport-content * {
  //   display: inline;
  //   word-break: break-all;
  // }

  // float 实现
  &-float {
    box-sizing: border-box;
  }
  &-float-inner {
    margin-left: -100%;
    width: 200%;
    height: 100%;
  }

  &-float-placeholder {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
  }
  &-float-content {
    box-sizing: border-box;
    float: right;
    width: 50%;
    word-break: break-all;
  }
  &-float-btns {
    display: flex;
    align-items: center;
    float: right;
    position: relative;
    left: 50%;
    width: 50%;
    transform: translateY(-100%);
    pointer-events: none;
    font-size: inherit;
  }

  // viewport
  &-viewport-content {
    overflow: hidden;
    word-break: break-all;
  }
  // 让 observer 前面的元素是 inline
  &-viewport-inline {
    position: relative;
    display: inline;
  }
  &-viewport-observer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 8px;
    overflow: hidden;
    display: inline-block;
  }
  &-viewport-btns {
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    pointer-events: none;
  }

  &-more {
    background: var(--more-background);
    pointer-events: auto;
  }
  &-less {
    background: var(--less-background);
    pointer-events: auto;
    transform: translateY(100%);
  }

  &-link {
    color: currentColor;
    display: inline-flex;
    align-items: center;
  }

  &-justify {
    &-center {
      justify-content: center;
    }
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
  }

  &-justify-end &-shadow {
    box-shadow: -12px 0px 6px -4px var(--more-background),
      -8px 0px 4px -2px var(--more-background),
      -4px 0px 2px 0px var(--more-background),
      -2px 0px 0px 0px var(--more-background);
  }

  // &-link {
  //   display: inline;
  //   text-decoration: none;;
  // }
}
