@class-prefix-overflow: ~'adm-overflow';

.@{class-prefix-overflow} {
  --background: #fff;
  --btn-background: #fff;
  --more-background: var(--btn-background);
  --less-background: var(--btn-background);

  overflow: hidden;
  line-height: 1.4;

  // 纯 css 实现
  &-css {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all;
    // 默认不省略，配合 rows 控制以下属性
    // -webkit-line-clamp: 1;
  }

  // &-content * {
  //   word-break: break-all;
  //   display: inline;
  //   text-decoration: none;
  // }

  // float 实现
  &-float {
    box-sizing: border-box;
  }
  &-float-inner {
    margin-left: -100%;
    width: 200%;
    height: 100%;
  }
  // shadow
  &-float-shadow {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
  }
  &-float-content {
    box-sizing: border-box;
    float: right;
    width: 50%;
    word-break: break-all;
  }
  &-float-btns {
    display: flex;
    align-items: center;
    float: right;
    position: relative;
    left: 50%;
    width: 50%;
    transform: translateY(-100%);
    pointer-events: none;
  }

  &-float-more {
    background: #fff;
    background: var(--more-background);
    pointer-events: auto;
  }
  &-float-less {
    background: #fff;
    background: var(--less-background);
    pointer-events: auto;
    transform: translateY(100%);
  }

  // viewport
  &-viewport-content {
    overflow: hidden;
    word-break: break-all;
  }
  &-viewport-content > * {
    display: inline;
  }
  &-viewport-observer {
    margin-left: -2px;
    width: 2px;
    height: 8px;
    overflow: hidden;
    display: inline-block;
  }
  &-viewport-btns {
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    pointer-events: none;
  }

  &-viewport-more {
    background: #fff;
    background: var(--more-background);
    pointer-events: auto;
  }
  &-viewport-less {
    background: #fff;
    background: var(--less-background);
    pointer-events: auto;
    transform: translateY(100%);
  }

  &-justify {
    &-center {
      justify-content: center;
    }
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
  }
}
