.small {
  font-size: 12px;
}

.middle {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

.mainText {
  font-size: 20px;
  line-height: 26px;
}
.secondaryText {
  font-size: 10px;
  color: var(--adm-color-weak);
}

.box-circle {
  height: 200px;
  width: 200px;
  position: relative;
}

.box-circle:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  background: conic-gradient(
    from 90deg,
    rgba(111, 232, 191, 1),
    rgba(255, 175, 19, 1),
    rgba(222, 19, 80, 1),
    rgba(133, 14, 205, 1)
  );
  mask-image: url(#ring);
  -webkit-mask-image: url(#ring);
  mask-size: cover;
  mask-repeat: no-repeat;
}

// 扇形 渐变 旋转 时间 启停
.circle {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 3px solid #00ff99;
}
.rotater {
  content: ' ';
  display: block;
  // 锥形渐变 https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/conic-gradient
  // 兼容性垫片 polyfill https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js
  //   实测，不能解决兼容性问题 chrome69+ iOS12.2+
  // background: conic-gradient(red, orange, yellow, green, blue);
  // CBF5E4-F9FFFC-FFFFFF
  // background: conic-gradient(from 90deg, #CBF5E4 0%, #F9FFFC 75%, #fff 100%);
  // 怎么控制反向 逆时针
  background: conic-gradient(from 0, #fff 0%, #F9FFFC 25%, #CBF5E4 100% );
  // background-image: linear-gradient(44deg, rgba(0, 255, 51, 0) 50%, #00bb22 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  animation: spin 1s infinite;
  animation-timing-function: linear;
  // transform-origin: bottom right;
  // border-radius: 100% 0 0 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
